body {
  background: #23272A;
  color: white;
  transition: all 1s ease-in-out;
  display: flex;
  height: 100vh;
}
#search > span {
  color: var(--blue);
}
a:hover {
  color: white!important;
  cursor: pointer;
}
a:hover::before {
  content: "> ";
}
#loader, #main {
  display: block;
  margin: auto;
  font-size: 70px;
}
#search {
  font-size: 40px;
}
#results {
  font-size: 20px;
  color: gray;
}
#sidebar {
  background: #2C2F33;
  min-width: 420px;
  max-width: 420px;
  padding: 1em;
}
p {
  font-size: 2em;
}
#item_name {
  margin-bottom: .7em;
}
#item_icon {
  border: .5em solid #23272A;
  background: #23272A;
  border-radius: .5em;
  margin-bottom: 1em;
}
#item_trend.positive {
  color: lime;
}
#item_trend.negative {
  color: red;
}
#item_trend.neutral {
  color: white;
}
.hidden {
  display: none!important;
}
